version: "3.9"

services:
  servicea:
    build: ./ServiceA
    ports:
      - "5000:5000"
    environment:
      - SERVICEB_URL=http://serviceb:5001
      - SERVICE_NAME=ServiceA
      - TEMPO_URL=http://tempo:4317
      - LOKI_URL=http://loki:3100
      - ASPNETCORE_URLS=http://+:5000
      - DOTNET_USE_POLLING_FILE_WATCHER=1
    depends_on:
      serviceb:
        condition: service_started
      loki:
        condition: service_healthy
      tempo:
        condition: service_started
    networks:
      - observability

  serviceb:
    build: ./ServiceB
    ports:
      - "5001:5001"
    environment:
      - SERVICE_NAME=ServiceB
      - TEMPO_URL=http://tempo:4317
      - LOKI_URL=http://loki:3100
      - ASPNETCORE_URLS=http://+:5001
      - DOTNET_USE_POLLING_FILE_WATCHER=1
    depends_on:
      loki:
        condition: service_healthy
      tempo:
        condition: service_started
    networks:
      - observability

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    volumes:
      - ./prometheus:/etc/prometheus:ro
    networks:
      - observability
    depends_on:
      - servicea
      - serviceb

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo/tempo.yaml" ]
    volumes:
      - ./tempo:/etc/tempo:ro
      - ./tempo-data:/tmp/tempo
    ports:
      - "3200:3200"
      - "4317:4317"
      - "4318:4318"
    networks:
      - observability

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki:/etc/loki:ro
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s
    networks:
      - observability

  grafana:
    image: grafana/grafana:10.0.0
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_FEATURE_TOGGLES_ENABLE=tempoSearch tempoBackendSearch
    depends_on:
      loki:
        condition: service_healthy
      prometheus:
        condition: service_started
      tempo:
        condition: service_started
    networks:
      - observability
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
  tempo-data:

networks:
  observability: